<h1>Search users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Interests</th>
      <th>Health</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email_address %></td>
        <td><%= user.password %></td>
      </tr>
    <% end %>
  </tbody>
</table>

