<style>
 .field label{
  font-size: 25px;
}
</style>

<h1>Hi <%= @user.name %>!</h1>

<%= render 'form' %>

<div style="text-align:center; font-style: italic;">
	<p>If you are under 18 years old, request permission from a parent or guardian to use Presby Hangout.</p>
	<p>PresbyHangouts uses Google Hangouts.</p>
	<img style="width: 20%;" src="/assets/google-hangouts_logo.png" />
</div>