 <%= link_to "URL to Next Page", intro_path %>	
	<div class="rightCallouts">
			<div class="btn inbox"><img src="/assets/messages.png" /></div>
		<div class="btn createHangout">Create a Google Hangout</div>

	</div>
	<div style="clear:both"></div>
	<div class="search">
		<h3>Search</h3>
	</div>
		<div style="clear:both"></div>
	<div class="results">
		<div class="result one">
		Result One
		</div>
		<div class="result two">
		Result Two
		</div>
		<div class="result three">
		Result Three
		</div>
	</div>
	<div style="clear:both"></div>
