<div style="clear:both;"></div>
<div class="videoBox">
	<div class="textLeft">
		</div>
		<h2 class="landingTitle">Chat with Others, Meet new People,<br /> and Share Your Story</h2>
		<%= link_to "Join Today", new_user_path, :class => 'btn createHangout join' %>
		<iframe width="90%" height="400px" src="//www.youtube.com/embed/ceWXQfYnyMI" frameborder="0" class="youtube"></iframe>

</div>
<div style="clear:both">
<div class="landingTagline">
	<h2>Sharing is Caring</h2>
</div>



