<iframe width="560" height="315" src="//www.youtube.com/embed/aNQBdIMM3mQ" frameborder="0" allowfullscreen></iframe>
<h2>Find Awesome People In The Hospital to Share Your Story</h2>

<h3>Sharing is Caring</h3>


<%= link_to "Join!", root_path %>
