<div style="clear:both;"></div>
<div class="videoBox">
	<div class="textLeft">
		</div>
		<h2 class="landingTitle">Chat with Others, Meet new People,<br /> and Share Your Story</h2>
		<%= link_to "Join Today", new_user_path, :class => 'btn createHangout join' %>
		<iframe width="90%" height="400px" src="//www.youtube.com/embed/ceWXQfYnyMI" frameborder="0" class="youtube"></iframe>

</div>
<div style="clear:both">
<div class="landingTagline">
	<h2>About Presby Hangouts</h2>
	<p>Preby Hangouts is a video chat room where patients, caregivers and health administrators can connect about common experiences, meet new people and share new health programs and initiatives. </p>
	<h2>How does it work?</h2>
	<p>When you enter, you will be prompted to identify your interests. Then, you can broswe Hangouts based on topic, or schedule a Hangout of your own. If you find Hangouts you like, you can add it to your calendar and join when the time comes.</p>
	<h2>Why is it important?</h2>
	<p>The hospital is a large place, and many people aren't mobile during their stay. Health data has proven that people-to-people interaction can increase happiness during a hospital visit, and in turn, shorten the length of patient stays. We want you to feel like a comfortable, connected community and to meet new people going through similar experiences. </h2>
	<h2>Who can join or create a Hangout?</h2>
	<p>Anyone with a myNYP.org login can create or join a Hangout -- patients, caregivers and health administrators.</p>
</div>



