
  <%= form_tag("", method: "get", id: "ot") do %>

  <p style="text-align:right;">
    Displaying
    <%= pluralize(@hangouts.all.count, "hangout") %>
    filtered by
<!-- NEED TO ADD ALL TAGS OPTION -->
<%= select_tag(:test, options_for_select(@tags.map { |value| [ value.name, value.id ] })) %>
    </p>

  <% end %>
