/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require_tree .
 */
.pageWrapper{
	background: url('/assets/pageWrapper.png') center no-repeat;
	width: 100%;
	height: 100%;
  background-color:#e3eceb;
}


/*Index*/
.mainContent{
  position: relative;
  top: -500px;
  left: 52px;
  width: 850px;
  padding: 10px;
  margin: 0 auto;
  color:;
}
.mainTitle:before{
  content: url('/assets/pHangouts3.png') no-repeat;
  position: relative;
  top: 14px;
  margin-right: 10px;
}
.mainTitle{
  display: inline-block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: #333;
  text-decoration:none;
}
.rightCallouts{
  margin-top: 5px;
  float: right;
  display: inline-block;
}
.rightCallouts div{
  margin-left: 10px;
}
.inbox{
  width: 30px;
  height: 30px;
  padding: 5px;
  position: relative;
  top: 10px;
}
.inbox img{
  width: 30px;
}
.btn{
  color: #fff;
  background-color: #0f787a;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 1px 1px 4px grey;
}
.createHangout{
  padding: 10px 15px;
}
/* Search */
.search{
  background-color: #ededed;
  padding: 20px;
  margin: 20px 0px;
}
.results{
  margin: 20px 0px;
}
.result{
  display: block;
  margin-left: 10px;
  background-color: #ededed;
  padding: 20px;
}
