/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require_tree .
 */
.tablet img{
  width: 100%;
}
.dashboard img{
  position: relative;
  top: -39px;
  left: -30px;
}
.pageWrapper{
	background: url('/assets/pageWrapper.png') center no-repeat;
	width: 100%;
	height: 100%;
  background-color:#e3eceb;
}
.pHangoutButton img{
  width: 84px;
  position: relative;
top: 141px;
left: -202px;
}
.pHangoutButton2 img{
  position: relative;
top: 53px;
left: -114px;
}

/*Index*/
.mainContent{
  position: relative;
  top: -590px;;
  left: 52px;
  width: 850px;
  padding: 10px;
  margin: 0 auto;
  color:;
}
.mainTitle:before{
  content: url('/assets/pHangouts3.png') no-repeat;
  position: relative;
  top: 14px;
  margin-right: 10px;
}
.mainTitle{
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  text-decoration:none;
  margin-bottom: 40px;
}
/*Landing Page */
/*.videoBox{
  background: url('/assets/videoBox.png') no-repeat;
}*/
.youtube{
  float: left;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: -124px;
}
.youtubeCover{
  color: grey;
  opacity: 0.5;
}
.textLeft{
  position: absolute;
  display: inline-block;
  width: 88%;
  height: 400px;
  background: grey;
  opacity: .8;
}
.landingTagline{

}
.landingTitle{
 line-height: 1.6em;
  color: #0f787a;
  position: relative;
  top: 100px;
  z-index: 1;
  display: inline;
  font-size: 3em;
  background: #fff;
  left: 40px;
  padding: 5px;
}
.join{
  padding: 10px 20px  !important;
  z-index: 100;
  position: relative;
  display: inline  !important;
  top: 167px;
  left: -370px;
  font-size: 23px  !important;
}

.rightCallouts{
  margin-top: 5px;
  float: right;
  display: inline-block;
}
.rightCallouts div{
  margin-left: 10px;
}
.inbox{
  width: 30px;
  height: 30px;
  padding: 5px;
  position: relative;
  top: 10px;
}
.inbox img{
  width: 30px;
}
.btn{
  color: #fff;
  background-color: #0f787a;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 1px 1px 4px grey;
}
.btn:hover{
  background-color: #169da0;
}
.createHangout{
  padding: 10px 15px;
}
/* Search */
.search{
  background-color: #ededed;
  padding: 20px;
  margin: 20px 0px;
}
.results{
  margin: 20px 0px;
}
.result{
  display: block;
  margin-left: 10px;
  background-color: #ededed;
  padding: 20px;
}
