/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require_tree .
 */
.tablet img{
  width: 100%;
}
.pageWrapper{
	background: url('/assets/pageWrapper.png') center no-repeat;
	width: 100%;
	height: 100%;
  background-color:#e3eceb;
}
.pHangoutButton img{
  width: 84px;
  position: relative;
top: 141px;
left: -202px;
}
.pHangoutButton2 img{
  position: relative;
top: 53px;
left: -114px;
}

/*Index*/
.mainContent{
  position: relative;
  top: -590px;;
  left: 52px;
  width: 850px;
  padding: 10px;
  margin: 0 auto;
  color:;
}
.mainTitle:before{
  content: url('/assets/pHangouts3.png') no-repeat;
  position: relative;
  top: 14px;
  margin-right: 10px;
}
.mainTitle{
  display: inline-block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  color: #333;
  text-decoration:none;
}
.rightCallouts{
  margin-top: 5px;
  float: right;
  display: inline-block;
}
.rightCallouts div{
  margin-left: 10px;
}
.inbox{
  width: 30px;
  height: 30px;
  padding: 5px;
  position: relative;
  top: 10px;
}
.inbox img{
  width: 30px;
}
.btn{
  color: #fff;
  background-color: #0f787a;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 1px 1px 4px grey;
}
.btn:hover{
  background-color: #169da0;
}
.createHangout{
  padding: 10px 15px;
}
/* Search */
.search{
  background-color: #ededed;
  padding: 20px;
  margin: 20px 0px;
}
.results{
  margin: 20px 0px;
}
.result{
  display: block;
  margin-left: 10px;
  background-color: #ededed;
  padding: 20px;
}

.expandableHangout {
  background-color: #e8e8e8;
  font-weight:bold;
  display: block;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 2px;
  color: #333;
  font-size: 14px;
  margin-top: 2px;
  cursor:pointer;
}


.expandIcon {color: #666;
font-weight: bold;
font-size: 20px;
float: right;
margin-right: 12px;
text-shadow: 1px 1px white;}

.expandableHangout:hover {background-color:#999; color:white;}

.expandIcon {color: #666;
font-weight: bold;
font-size: 20px;
float: right;
margin-right: 12px;
text-shadow: 1px 1px white;}

.expandableHangout:hover .expandIcon {
    color:white;
    text-shadow: 1px 1px #666;
}

.hiddenHangoutText{
  padding: 10px 30px;
  color: #666;
  border: 2px solid #F5F5F5;
}
