// Place all the styles related to the Hangouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "chosen";

.chzn-hangout {
  width: 500px;
}

.g-hangout {
  display: inline;
}

.fld-recordable {
  display: inline;
  position: relative;
}

.hangout-line {
  margin: 20px 0px
}