<!DOCTYPE html>
<html>
<head>
  <title>PresbyHangouts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="pageWrapper">&nbsp;</div>
<div class="mainContent">
	<h2 class="mainTitle">Presby Hangouts</h2>
<%= yield %>
</div>
</body>
</html>
